.checkoutContainer {
	max-width: 1200px;
	height: 600px;
	margin: 0 auto;
	padding: 20px;
}

.checkoutHeader {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

.checkoutContent {
	display: flex;
	gap: 20px;
}

.checkoutDetails {
	flex: 2;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.section {
	padding: 15px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: #fff;
	margin-bottom: 10px; // Add some spacing between sections in the stepper

	h3 {
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 8px;
	}

	p {
		margin: 5px 0;
	}
}

.changeBtn {
	background: none;
	border: none;
	color: #007bff;
	cursor: pointer;
	font-size: 14px;
	margin-left: 10px;
}

.paymentMethod {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 10px;
}

.paymentLabel {
	display: flex;
	align-items: center;
	gap: 5px;
}

.paymentLogo {
	width: 40px;
	height: auto;
}

.stepperActions {
	display: flex;
	gap: 10px;
	padding: 10px 0;
	justify-content: flex-end;
}

.orderSummary {
	flex: 1;
	padding: 15px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: #fff;
	height: fit-content;

	h2 {
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 15px;
	}
}

.orderItems {
	margin-bottom: 10px;
}

.orderItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
}

.summaryDetails {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.summaryItem {
	display: flex;
	justify-content: space-between;
	font-size: 14px;

	span:last-child {
		font-weight: bold;
	}
}

.total {
	display: flex;
	font-weight: bolder;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
	border-top: 1px solid #ddd;
	padding-top: 10px;

	span {
		font-size: 14px;
		font-weight: bold;
	}
	span:last-child {
		color: #ff6200;
		font-size: 1.1rem;
	}

	.totalAmount {
		color: #ff6200;
		font-size: 1.2rem;
		font-weight: bold;
	}
}

.taxNote {
	font-size: 12px;
	color: #666;
	margin-top: 5px;
	margin-bottom: 10px;
}

.placeOrderBtn {
	width: 100%;
	padding: 10px;
	background-color: var(--clr-green);
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	margin-top: 0;
}
