.container {
	display: flex;
	justify-content: center; /* Center horizontally */
	align-items: center; /* Center vertically */
	width: 100%;
	max-width: 1200px; /* Prevent it from expanding too much */
	margin: 0 auto; /* Center the container */

	.cateName {
		margin-bottom: 10px;
		font-size: 27px;
		font-weight: 700;
		color: #333;
		text-transform: uppercase;
	}
	.homeProducts {
		padding: 0;
		width: 100%;
		margin: 20px 0;

		.productItem {
			transition: transform 0.3s ease;

			.productPrice {
				font-size: 18px;
				padding-left: 10px;
				font-weight: 700;
				color: var(--clr-orange);
			}

			.productName {
				font-size: 14px;
				color: var(--clr-green);
				font-weight: 700;
				padding: 0 10px;
			}
			.productRating {
				padding: 10px;
				align-items: center;
			}
		}
		.productItem:hover {
			transform: scale(1.05); /* Zoom-in effect */
		}
	}
}
