.bannerSection {
	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: 1200px;
	height: 400px;
	margin-top: 30px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}
.bannerSection * {
	outline: none !important;
}
.slickNext,
.slickPrev {
	position: absolute;
	top: 35%;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px !important;
	height: 40px !important;
	background: #444444;
	border-radius: 50%;
	color: white;
	cursor: pointer;
}

.slickNext {
	right: 25px !important;
}

.slickPrev {
	left: 25px !important;
}

.slickNext::before,
.slickPrev::before {
	font-size: 20px;
	color: white;
}
