.container {
	margin-top: 80px;
	padding: 0px 0px 0px 40px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	max-width: 1280px; // Added to prevent stretching
	margin-left: auto; // Center the container
	margin-right: auto; // Center the container
	width: 100%; // Ensure it takes full available width up to max-width

	.subCate {
		width: 90%;
		height: 0px;
		background-color: #fff;
		position: absolute;
		top: 123%;
		left: 0%;
		border: 1px solid rgba(0, 0, 0, 0.1);
		opacity: 0;
		transition: all 0.2s ease-in-out;
		visibility: hidden;
		z-index: 100;

		ul {
			li {
				width: 100%;
				list-style: none;
				padding: 0px 15px;

				button {
					width: 100%;
					color: rgba(0, 0, 0, 0.7);
					justify-content: flex-start;
					text-transform: capitalize;
				}
			}
		}
	}
	.open {
		height: auto;
		opacity: 1;
		visibility: inherit;
		padding: 15px 0px;
	}

	.navbarItems {
		display: flex;
		justify-content: space-around; // Replaced justify-between for even spacing
		align-items: center;
		width: 100%;
		padding: 0; // Remove default padding if any
		gap: 50px; // Controlled spacing instead of space-x-20

		.navbarItem {
			color: rgba(0, 0, 0, 0.7);
			padding: 8px 10px;
			border-radius: 30px;
			transition: all 0.2s ease-in-out;
			display: flex;
			align-items: center;
			gap: 5px; // Space between icon and text
		}
		.navbarItem:hover {
			background: #f1fff0;
			color: #27bf27;
		}
	}
}
