.container {
	margin-top: 80px;
	padding: 0 160px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

	.subCate {
		width: 90%;
		height: 0px;
		background-color: #fff;
		position: absolute;
		top: 123%;
		left: 0%;
		border: 1px solid rgba(0, 0, 0, 0.1);
		opacity: 0;
		transition: all 0.2s ease-in-out;
		visibility: hidden;
		z-index: 100;

		ul {
			li {
				width: 100%;
				list-style: none;
				padding: 0px 15px;

				button {
					width: 100%;
					color: rgba(0, 0, 0, 0.7);
					justify-content: flex-start;
					text-transform: capitalize;
				}
			}
		}
	}
	.open {
		height: auto;
		opacity: 1;
		visibility: inherit;
		padding: 15px 0px;
	}
	.navbarItem {
		color: rgba(0, 0, 0, 0.7);
		padding: 8px 10px;
		border-radius: 30px;
		transition: all 0.2s ease-in-out;
	}
	.navbarItem:hover {
		background: #f1fff0;
		color: #27bf27;
	}
}
