/* Tailwind setting */
@import "tailwindcss";

/* PrimeReact setting */
@layer tailwind-base, primereact, tailwind-utilities;

/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import "primereact/resources/themes/lara-light-blue/theme.css"
	layer(primereact);

@layer tailwind-base {
	/* @tailwind base; */
}

@layer tailwind-utilities {
	/* @tailwind components; */
	/* @tailwind utilities; */
}

/* GLOBAL COLOR */
.bg-global {
	background-color: #326e51;
}
.bg-global-dark {
	background-color: #00390d;
}

.clr-global {
	color: #326e51;
}
